.form .font-small {
    font-size: 1; }

.form .z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(14, 130, 231, 0.5), 0 4px 12px 0 rgb(185, 196, 230,0.5);
    box-shadow: 0 2px 5px 0 rgba(4, 104, 190, 0.5), 0 4px 12px 0 rgba(6, 59, 219, 0.5); }

.form .btn:hover {
    box-shadow: 0 5px 11px 0 rgba(5, 219, 76, 0.28), 0 4px 15px 0 rgba(11, 248, 63, 0.15);
    box-shadow: 0 5px 11px 0 rgba(5, 219, 76, 0.28), 0 4px 15px 0 rgba(5, 219, 76, 0.28); }

.form .modal-header {
    border-bottom: none; }
 

.form .modal-body, .form .modal-footer {
    font-weight: 400; }
    .blue-gradient {
        background: linear-gradient(360deg, #45cafc, #303f9f) !important;
    }
  .form-control{
      border: none;
      border-bottom: 1px solid grey;
  }