/* For Menu */

.navbar {
    background: linear-gradient( #5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.nav-link {
    color: #3d1707 !important;
}

form input {
    border: unset;
    border-radius: 20px;
    margin-top: 8px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 13px;
}


/* First Section / Main Image */

.image {
    min-height: 80vh;
    background: url('Images/main4.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: rgba(105, 184, 204, 0.5);
    background-blend-mode: color;
}

.image .container {
    padding: 100px 0 50px 0;
}

.inner-image .text .row h1 {
    padding: 20px 0;
}

.bt-1 {
    border-radius: 20px;
    background: linear-gradient( #5c82ab, #71bdaf);
    border: unset;
    padding: 10px;
}

.bt-2 {
    border-radius: 20px;
    border: unset;
    padding: 10px;
}

.bt-2:hover {
    background: linear-gradient( #5c82ab, #71bdaf);
}


/* Second Section / Choose us content */

.content {
    padding-top: 10%;
    padding-bottom: 10%;
}

.content .card:hover {
    border: 1px solid skyblue;
}


/* Third Section / Slider */

.slider {
    background: #ede7e6;
    padding-top: 10%;
    padding-bottom: 10%;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;
}

.carousel-item {
    height: 100%;
    width: 100%;
}


/*  Fourth Section / Top Categories */


/* Fifth Section / Instructor - Buisness */

.buisness {
    padding-top: 10%;
    padding-bottom: 10%;
}


/* Sixth Section- Image/Content */

.sixth-section {
    min-height: 70vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.sixthsec-content h6 {
    padding-top: 50px;
}

.sixthsec-content h1 {
    padding: 20px 0;
}

.sixthsec-content p {
    padding-bottom: 20px;
}

.sixthsec-img {
    height: 430px;
    width: 100%;
}


/* Seventh Div / Total Students - Teachers */

.seventh-section {
    min-height: 200px;
    background: linear-gradient( #5c82ab, #71bdaf);
}

.seventh-section .row div {
    padding-top: 20px;
}


/* Footer */

.footer {
    background: skyblue;
}

.lower-footer p {
    text-align: center;
}