/* For Menu */
.navbar
{
    background:linear-gradient( #5c82ab,#71bdaf);
}
.nav-link
{
    color: white !important;
}
form input
{
    border: unset;
    border-radius: 20px;
    margin-top: 8px;
}
button
{
 border-radius: 10px;
 color: #5c82ab;
}
button:hover
{
    background: transparent;
    color: white;
    border: 2px solid #71bdaf;
}